* {
    background-color: rgb(30, 23, 50);
    color: white;
    font-family: monospace;
    font-size: 18px;
}

body {
    padding: 20px;
}

.terminal-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.dir-name {
    margin-right: 5px;
    color: rgb(39, 172, 59);
}

input {
    border: none;
}

input:focus {
    outline: none;
}